@import "tailwindcss";

@theme {
  --color-primary: #004475;
  --color-secondary: #0C6AAE;
  --color-tertiary: #3D78A8;

  --color-primary-btn: #004475;
  --color-secondary-btn: #D2BD1D;

  --color-content-bg: #FFF0F0;
  --color-status-bg: #004475;
  --color-progress-bg: #1D5B8E;
  --color-progress-fill: #F3C010;

  --color-primary-shadow: #0E325B;
  --color-secondary-shadow: #E1B827;

  --color-answer-bg: #C2E2FE;
  --color-answer-shadow: #8AB4D9;

  --color-disabled-bg: #E3E5E7;
  --color-disabled-shadow: #9097A0;

  --text-shadow-outline: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000, 0 4px 4px rgba(0,0,0,0.5);
}

@layer base {
  body {
    @apply font-sans;
  }
}